# IntelliJ
.idea/
*.iml
/shelf/
/workspace.xml

# Java + Maven
/target/
*.log

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage
/dataSources/
/dataSources.local.xml

# OS
.DS_Store
Thumbs.db

# Env
.env

# All hidden files
.*
